#intro

  .wrapper

    .title
      Собираетесь заказать
      %br
      систему видеонаблюдения?

    .subtitle
      Получите личную консультацию от эксперта
      %br
      в области систем видеонаблюдения

    .block
      %ul#questions
        %li
          %input#q1{type: :checkbox}
          %label{for: :q1}
            Какие камеры лучше использовать на моем
            объекте: аналоговые или цифровые?


        %li
          %input#q2{type: :checkbox}
          %label{for: :q2}
            В каком случае не стоит экономить на качестве изображения,
            а в каком оно не критично?


        %li.question
          %input#q3{type: :checkbox}
          %label{for: :q3}
            Стоит ли переплачивать за бренд камеры или стоит
            воспользоваться китайским аналогом в два раза дешевле?


        %li
          %input#q4{type: :checkbox}
          %label{for: :q4}
            Где купить камеры по самой низкой цене?

        %li
          %input#q5{type: :checkbox}
          %label{for: :q5}
            Какие гарантии должны давать мастера по установке камер?

        %li
          %input#q6{type: :checkbox}
          %label{for: :q6}
            Как избежать неприятностей с законом при установке
            камер в общественных местах?

        %li
          %textarea#question{name: :question, placeholder: 'Введите ваш вопрос прямо сейчас'}

        %li
          .button#show-form Получить консультацию