#intro

  .wrapper

    .title
      Собираетесь заказать
      %br
      систему видеонаблюдения?

    .subtitle
      Получите личную консультацию от эксперта
      %br
      в области систем видеонаблюдения

    .block
      %ul
        %li
          %input#q1{type: :checkbox}
          %label{for: :q1}
            Какие камеры лучше использовать на моем
            %br
            объекте: аналоговые или цифровые?


        %li
          %input#q2{type: :checkbox}
          %label{for: :q2}
            Какие камеры лучше использовать на моем
            %br
            объекте: аналоговые или цифровые?


        %li
          %input#q3{type: :checkbox}
          %label{for: :q3}
            Какие камеры лучше использовать на моем
            %br
            объекте: аналоговые или цифровые?


        %li
          %input#q4{type: :checkbox}
          %label{for: :q4}
            Какие камеры лучше использовать на моем
            %br
            объекте: аналоговые или цифровые?

        %li
          %input#q5{type: :checkbox}
          %label{for: :q5}
            Какие камеры лучше использовать на моем
            %br
            объекте: аналоговые или цифровые?

        %li
          %input#q6{type: :checkbox}
          %label{for: :q6}
            Какие камеры лучше использовать на моем
            %br
            объекте: аналоговые или цифровые?

        %li
          %textarea{name: :question} Введите ваш вопрос прямо сейчас

        %li
          .button Получить консультацию