#intro

  .wrapper

    .title
      Как сэкономить до 20 000 рублей
      %br
      на установке системы видеонаблюдения?

    -#.subtitle
      Отметьте интересующие вас вопросы, 
      %br
      и получите личную консультацию от эксперта
      %br
      в области систем видеонаблюдения

    -#.block
      %ul.clearfix#questions
        %li
          %input#q1{type: :checkbox}
          %label{for: :q1}
            Какие камеры лучше использовать на моем
            объекте: аналоговые или цифровые?


        %li
          %input#q2{type: :checkbox}
          %label{for: :q2}
            В каком случае не стоит экономить на качестве изображения,
            а в каком оно не критично?


        %li.question
          %input#q3{type: :checkbox}
          %label{for: :q3}
            Стоит ли переплачивать за бренд камеры или стоит
            воспользоваться китайским аналогом в два раза дешевле?

        %li
          %input#q6{type: :checkbox}
          %label{for: :q6}
            Как сэкономить до 20 000 рублей на установке камер
            видеонаблюдения 

    .button#show-form Хочу узнать!