.modal-overlay
.modal-form
  .text
    Оставьте ваши контактные данные и в течение 15 минут с вами свяжется наш консультант.
  .form
    %input{type: :text, name: :username, placeholder: 'Введите ваше имя *'}
    %input{type: :text, name: :phone, placeholder: 'Введите ваш телефон *'}
    .button#send-form
      Узнать


.modal-thank-you
  .modal-header
    Спасибо!
  .body
    Мы позвоним вам в течение 15 минут
    .button#hide-thank-you
      Я буду ждать